/* Reset CSS*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Classes Utilitaires */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 15px;
    width: 100%;
}

.col {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
}

.mt-auto {
    margin-top: auto;
}

/* Header */

header {
    background-color: rgba(53, 53, 53, 0.9);
    position: fixed;
    width: 100%;
    height: 145px;
    z-index: 100;
}

#nav-secondary {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding: 0.8em 2em;
}

#nav {
    align-items: center;
    justify-content: center;
}

#brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    flex-basis: 220px;
}

#nav-primary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding-right: 4em;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
}

#nav-primary a {
    margin-left: 4em;
}

header a:hover {
    border-bottom: 3px solid #4C9632;
    color: #4C9632;
}

#brand-logo a:hover {
    border-bottom: none;
}

/* Breadcrumb */

.breadcrumb {
    padding: 1em;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li a {
    color: black;
}

.breadcrumb li:last-child a {
    color: #4C9632;
    text-decoration: underline #4C9632;

}

.breadcrumb li+li::before {
    padding: 0.5em;
    color: black;
    content: "/\00a0";
}

/* Footer */

footer {
    background-color: rgba(53, 53, 53, 0.9);
    margin-top: auto;
    padding: 50px 0;
}

footer h3 {
    color: #f2f2f2;
}

.footer-bloc {
    width: 50%;
}

.footer-bloc ul {
    margin-left: 2em;
}

.footer-bloc li {
    margin: 0.8em 0;
}

footer a:hover {
    color: #4c9632;
}

/* Page Accueil */

main {
    margin-top: 160px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../../public/img/bambou-panda-hero.jpg");
    background-size: cover;
    padding: 150px 10px;
    height: 400px;
    color: #f2f2f2;
}

#hero h2 {
    text-transform: uppercase;
}

#hero button {
    background-color: #353535;
    font-size: 1.3em;
}

main h2 {
    text-align: center;
    font-size: 2.2em;
}

#new-products {
    margin: 2em 0 4em 0;
}

/* Who-are-we */

#who-are-we {
    background-color: rgba(53, 53, 53, 0.9);
    color: #f2f2f2;
}

.who-are-we-bloc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
}

#who-are-we-img {
    display: block;
    max-width: 200px;
    margin: 2.5em auto;
}

#who-are-we-text {
    padding: 2.5em;
}

#who-are-we-text h2 {
    text-align: left;
}

#who-are-we-text p {
    text-align: justify;
}

/* Shops */

#shops {
    margin: 4em 0;
}

#shops div[class*=col] {
    padding: 0 1em 1em 1em;
}


#shops h2 {
    color: #4C9632;
    font-size: 1.8em;
}

#shops p {
    font-size: 1.2em;
}


/* Page CGV */

#cgv {
    margin: 5em;
}

#cgv h1 {
    text-align: center;
}

/* Page de commande */

.commande-bloc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
}

fieldset {
    margin: 1em 0;
}

input,
label,
textarea {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.03em;
    padding: 0.5em;
    color: #353535;
    width: 100%;
}

input,
textarea {
    margin: 0.2em;
    border: 2px solid black;
}

input[type=checkbox],
label[for=cgv-validation] {
    display: inline;
    width: auto;
    padding: 0;
}

label[for=cgv-validation]>a {
    color: #000;
    font-weight: bold;
}

#buttons {
    margin-bottom: 2em;
}

#buttons>div {
    display: flex;
    justify-content: space-around;
}

button {
    margin: 1em;
    color: #f2f2f2;
    border: none;
    height: 3em;
    line-height: 1.5em;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover {
    letter-spacing: 0.02em;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}



button[type=submit] {
    background-color: #4C9632;
}

button[type=reset] {
    background-color: rgba(53, 53, 53, 0.9);
}

/* Pages Catalogue */

.catalogue {
    margin-bottom: 4em;
}


/* Card */

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 1 30%;
    margin: 0.5em 1%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card .zoom-img {
    overflow: hidden;
}

.zoom-img img {
    transition: all 1s ease;
}

.zoom-img img:hover {
    transform: scale(1.15);
}

.card h3 {
    text-transform: uppercase;
}


.card .price {
    font-size: 1.5em;
    margin: 0.5em;
    font-weight: bold;
    color: #4C9632;
}

.card button {
    width: 100%;
    margin: 0;
    border-radius: 0;
    font-size: 1.6em;
    background-color: #353535;
}

.card button:hover {
    box-shadow: none;
    letter-spacing: normal;
    background-color: #4C9632;
}

/* Responsive */

/* Fix header break */

@media screen and (max-width: 967px) {
    header {
        height: 210px;
    }

    #brand-logo {
        margin: 0 auto;
    }

    nav {
        margin: 0 auto;
    }

    #nav-primary {
        height: 80px;
    }

    main {
        margin-top: 225px;
    }
}


/* Tablet */

@media screen and (max-width: 768px) {

    .who-are-we-bloc {
        width: 100%;
    }

    #who-are-we-text {
        padding-top: 0;
    }

    #who-are-we-text h2 {
        text-align: center;
    }

}


/* Mobile */

@media screen and (max-width: 568px) {

    #nav-primary a {
        margin-left: 2em;
    }

    #nav-primary {
        padding-right: 2em;
        font-size: 1.2em;
    }

    .card {
        flex: 1 1 50%;
    }

    .commande-bloc {
        width: 100%;
    }

    #hero h2 {
        font-size: 1.6em;
    }

    #hero button {
        font-size: 1em;
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    #nav-secondary {
        padding: 1em 0;
    }
}